.container_logo {
    display: flex;
    width: 182px;
height: 17px;
gap: 4px;
padding-top:  40px;
}

.logo{

font-weight: 700;

line-height: 100%;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #f9f9f9;
}