.container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    height: 74px;
    background: #1f1f1f;
    padding: 16px 24px;
}   
.menu {
    display: flex;
    
}
.menu_header{
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.item_header {
color: lightblue;
text-decoration: none;
font-size: 16px;
position: relative;
padding-bottom: 6px;
}
.active {
    color: #ffffff;
}
.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #4f7cff;
    border-radius: 2px;
}
.user_panel{
    display: flex;
    align-items: center;
    gap: 12px;

}