.dashboard{
    border-radius: 30px;
width: 353px;
height: 651px;
background: #1f1f1f;
padding: 20px;
}

.filter{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 20px;
}
.title{
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
color: #f9f9f9;
}

.input{
    border-radius: 12px;
padding: 16px 167px 16px 14px;
width: 313px;
height: 50px;
background-color: #f1ab75;

}
.container_button{
    padding-top: 12px;
}
.button:hover,
.button:focus {
  background: #c0e879;
}

.workout{
    border-radius: 12px;
width: 313px;
height: 272px;
background: #525050;
padding: 20px;
display: flex;
flex-direction: column;
gap: 20px;
margin-top: 20px;
}

.title_workout{
    font-family: var(--font-family);
font-weight: 700;
font-size: 20px;
line-height: 100%;
letter-spacing: -0.02em;
text-align: center;
color: #f9f9f9;
}

.list{
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
color: #f9f9f9;

}

.windows{
    display: flex;
    margin-top: 15px;
    margin-bottom: 14px;
    gap: 7px;
    border-radius: 12px;
width: 313px;
height: 83px;

}
.list{
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
color: #686868;
}
.books{
    font-family: var(--font-family);
font-weight: 500;
font-size: 40px;
line-height: 100%;
letter-spacing: -0.02em;
color: #000;
}