.wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 30px; 
    gap: 32px;
width: 600px;
height: 736px;
background: #1f1f1f;
}
.container {
    border-radius: 30px;
width: 600px;
height: 736px;
background: #1f1f1f;
padding-left: 64px;
}
.title {
    font-family: var(--font-family);
font-weight: 700;
font-size: 64px;
line-height: 94%;
letter-spacing: 0.02em;
color: #f9f9f9;
padding-bottom: 40px;
padding-top: 107px;
}
.input{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
padding: 16px 304px 16px 14px;
width: 472px;
height: 50px;
background: #f0b486;
}

.input:hover {
    background: #c0e879;
}
.input:focus {
  background: #f9f9f9;
}
.container_input{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.login{
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #f9f9f9;

}

.button{
    border-radius: 30px;
padding: 16px 54px;
width: 225px;
height: 52px;
background: rgb(240, 220, 193);
cursor: pointer;

margin-top: 10px;
}
.register {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
    padding-left: 64px;
}

.button:hover,
.button:focus {
  background: #c0e879;
}

.login:hover {
    color: #87d28d;
}
.icon{

top: 50%;
right: 15px;
width: 20px;
  height: 20px;
  cursor: pointer;
  
 
}
