*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

img {

  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
} 
 button {
  border: 1px solid rgba(249, 249, 249, 0.2);
border-radius: 30px;
padding: 12px 28px;
width: 122px;
height: 42px; 
background-color: rgb(240, 220, 193);
 }
